.notification {
  position: fixed;
  transform: translate(-50%, -50%);
  bottom: 5%;
  left: 50%;

  &-style {
    font-weight: bold;
    background-color: rgb(255, 200, 200);
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: rgba(107, 107, 107, 0.2) 0px 8px 12px;
    border: solid #d0d0d0 0.5px
  }
}


