<div class="cont" *ngIf="(filesUploaded$ | async)!.length > 0">
  <div class="outer d-flex align-items-center justify-content-between px-3">
    <span [class]="shouldBeExpanded ? 'adjust': null" class="label-sm">{{(getFilesUploaded() | async) || 0}} files uploaded</span>
    <div>
      <img [class]="shouldBeExpanded ? 'adjust': null" [class.rotate-180-left]="shouldBeExpanded"
           (click)="shouldBeExpanded = !shouldBeExpanded" class="tick"
           width="30px"
           src="assets/network_assets/tick-down.svg" alt="toggle">
    </div>
  </div>
  <div class="inner" *ngIf="shouldBeExpanded">
    <div class="entry d-flex align-items-center" *ngFor="let file of filesUploaded$ | async">
      <img class="entry-img" width="30px" src="assets/network_assets/attach.svg" alt="entry_img">

      <span class="entry-text d-inline-block text-truncate" style="max-width: 70%">
        {{file.fileName}}
      </span>

      <div *ngIf="file.status === 'uploading'" class="spinner-border spinner-border-sm text-light" role="status">
      </div>
      <img width="20px" class="entry-res" *ngIf="file.status === 'uploaded'" src="assets/network_assets/check.svg"
           alt="OK">
      <img width="20px" class="entry-res" *ngIf="file.status === 'failed'" src="assets/network_assets/error.svg"
           alt="KO">


      <a *ngif="file.status === 'uploaded'" [href]="file.url" target="_blank">
        <img width="24px" class="entry-res" src="assets/network_assets/link.svg" alt="open">
      </a>

      <div class="w-100 link" *ngIf="file.status === 'uploaded'">
        <a [href]="file.url" target="_blank">
          <img width="20px" src="assets/network_assets/link.svg" alt="open">
        </a>
      </div>

    </div>
  </div>
</div>
