.cont {
  bottom: 0;
  right: 0;
  padding: 0 20px 20px 0;
  position: fixed;
  border-radius: 6px 6px 0 0;
  width: 350px;
  animation: fade-in 0.2s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
  opacity: 1;
      }
}

.outer {
  position: relative;
  background-color: #161616;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  color: white;

}

.inner {
  position: relative;
  top: -10px;
  background-color: #1a1a1a;
  width: 100%;
  min-height: 50px;
  border-radius: 0px 0px 12px 12px;
  animation: expand 0.3s ease-in-out;
  color: white;
  padding: 10px;

  max-height: 330px;
  overflow-y: auto;
}

.entry {
  padding: 3px;
  width: 100%;
  height: 100%;
  gap: 10px;
  opacity: 1;
  transition: opacity 0.5s ease-in;

  &-img {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    border: solid #d0d0d0 1px;
  }

  &-text {
    font-size: 13px;
  }

  &-res {
    filter: invert(1);
  }
}

 .label-sm {
   font-size: 14px;
 }

.link {
  text-align: right;
  filter: invert(1);
}

@keyframes expand {
    from {
      min-height: 0px;
    }
    to {
      min-height: 50px;
    }
}

.tick {
  filter: invert(1);
  background-color: #9db000;
  cursor: pointer;
  border-radius: 50%;
}
