
/* Importing Bootstrap SCSS file. */
@import "../../node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "../../node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "./toastr";
@import "./variables";

.pointer {
  cursor: pointer;
}
.denied {
  cursor: not-allowed;
}

.rotate-90-right {
  transform: rotate(-90deg);
}

.row, .col {
  margin: 0;
  padding: 0;
}
