// Variabili per i bordi
$border-radius: 8px;
$border-thickness: 0.5px;
$border-color: #bdbdbd;

// Variabili per i modali
$modal-color: #f3f3f3;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;

// Variabili per i colori
$accent-color: #7dd100;
$primary-button-color: black;
$default-button-background-color-hover: #e8e8e8;
$default-button-border-color: hsl(226deg 13% 83%);
$default-button-background-color: white;
$input-background-color: rgb(255, 255, 255);
$social-button-background-color: white;
$social-button-color: black;
$social-button-color-hover: $default-button-background-color-hover;

// Variabili per dimensioni e stili dei componenti
$font-size-secondary: 14px;
$font-size-primary: 16px;
$secondary-button-height: 32px;
$primary-button-height: 34px;
$input-height: 42px;
$button-social-height: 45px;
$input-padding: 10px;

// Input
$input-border-radius: $border-radius;
$input-border-color: $border-color;

// Stili dei componenti
.input {
  &-text {
    padding: $input-padding;
    background-color: $input-background-color;
    height: $input-height;
    border-radius: $input-border-radius;
    border: solid $border-color $border-thickness;
    font-size: $font-size-primary;
  }


  &-checkbox[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: solid $border-color $border-thickness;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;

    &:checked {
      background-color: white;
      border-color: $accent-color;
      border-width: 6px; // Increase border width to simulate a checkmark
    }
  }

}

.modal-default {
  background-color: $modal-color;
  border-radius: $border-radius;
  border: solid $border-thickness $border-color;
  box-shadow: $box-shadow;
}

.button {
  padding: 0 20px 0 20px;
  border-radius: $border-radius;
  font-weight: 600;
  font-size: $font-size-secondary;
  border: solid $default-button-border-color $border-thickness;

  &-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: $button-social-height;
    color: $social-button-color;
    background-color: $social-button-background-color;
    border-radius: $border-radius;

    &:hover {
      transition: background-color 0.2s;
      background-color: $social-button-color-hover;
    }
  }

  &-primary {
    color: $primary-button-color;
    height: $primary-button-height;

    &-default {
      background-color: $default-button-background-color;

      &:hover {
        background-color: $default-button-background-color-hover;
        transition: background-color 0.2s;
      }
    }
  }
}
