::ng-deep {
  .content-img {
    width: 100%;
    border-radius: 4px;
  }
}

.no_notes_img {
  width: 180px;
}

.no_notes_text {
  font-weight: 300;
  color: #737373;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 0.5fr));
  gap: 20px;
}

