 {{currentUser | async | json}}


<div #chartContainer></div>

<div style="position: relative; z-index: 1000">

  <div>
    <label for="docsAmount">Numero di documenti:</label>
    <input type="number" id="docsAmount" name="docsAmount" [(ngModel)]="docsAmount" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="topicAmount">Numero di argomenti:</label>
    <input type="number" id="topicAmount" name="topicAmount" [(ngModel)]="topicAmount" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="probability">Probabilità di similarità:</label>
    <input type="number" id="probability" name="probability" step="0.01" [(ngModel)]="probability" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="nodeRadiusNormal">Raggio del nodo normale:</label>
    <input type="number" id="nodeRadiusNormal" name="nodeRadiusNormal" [(ngModel)]="nodeRadiusNormal" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="linkStrokeWidth">Larghezza del collegamento:</label>
    <input type="number" id="linkStrokeWidth" name="linkStrokeWidth" [(ngModel)]="linkStrokeWidth" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="centerForceStrength">Forza di centro:</label>
    <input type="number" id="centerForceStrength" name="centerForceStrength" [(ngModel)]="centerForceStrength" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="resizeTransitionDuration">Durata della transizione di ridimensionamento:</label>
    <input type="number" id="resizeTransitionDuration" name="resizeTransitionDuration" [(ngModel)]="resizeTransitionDuration" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="resizeForceCenterDuration">Durata del centro di forza di ridimensionamento:</label>
    <input type="number" id="resizeForceCenterDuration" name="resizeForceCenterDuration" [(ngModel)]="resizeForceCenterDuration" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="gravityStrength">Forza di gravità:</label>
    <input type="number" id="gravityStrength" name="gravityStrength" [(ngModel)]="gravityStrength" (ngModelChange)="handleVariableChange()">
  </div>

  <div>
    <label for="gravityStrength">Distanza nodi:</label>
    <input type="range" id="nodeDistance" min="0" max="1000" name="nodeDistance" [(ngModel)]="nodeDistance" (ngModelChange)="handleVariableChange()">
  </div>
</div>
