


<div class="blank-container row p-3 position-relative">

  <div class="tooltip-entity">
    <span>Blank {{entity}}</span>
  </div>

  <div class="col d-flex flex-column m-0 p-0 d-flex flex-column justify-content-between">
    <span>
      <img width="20px" [src]="asset_img" alt="entity_url_img">
    </span>
    <span class="fw-medium">{{'New ' + entity}}</span>
  </div>
  <div class="col-auto m-0 p-0" (click)="emit()">
    <img class="add" width="20px" src="assets/network_assets/add.svg" alt="+">
  </div>
</div>

