@import 'src/styles/variables.scss';

.sidebar {
  position: relative;
  border-right: solid $input-border-width $gray-light;
  background-color: white;
}

.resizer {
  position: absolute;
  height: 100%;
  width: 7px;
  top: 0;
  right: -3.5px;

  &:hover {
    cursor: col-resize;
  }
}
