::ng-deep {
  .ql-editor.ql-blank::before {
    padding-left: 40px !important;
    font-style: normal !important;
  }

  .ql-toolbar.ql-snow {
    border-top: 0 !important;
  }
}

.title {
  background-color: transparent;
  padding: 10px
}

.title-input {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border: 0;
  font-size: 36px;
  font-weight: 600;
  border-radius: 8px;
  outline-color: transparent;
}


@media only screen and (max-width: 600px) {


  .title-input {
    text-align: center;
  }


  .center-mobile {
    display: flex;
    justify-content: center;
  }

}


.lock-unlock {
  position: fixed;
  top: 20px;
  padding: 5px 10px 10px 10px;
  z-index: 20;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: #ffc8c8;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  opacity: 0.5;

  &:hover {
    padding: 10px 10px 10px 10px;
    transition: all 0.2s;
    opacity: 1;
  }
  &:not(:hover) {
    padding: 5px 10px 10px 10px;
    transition: all 0.2s;
    opacity: 0.5;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

