::ng-deep {
  .ql-toolbar {
    border: 0 !important;
    border-bottom: 0.5px solid #d5d5d5 !important;
  }
}

.title {
  background-color: transparent;
}

.title-input {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border: 0;
  font-size: 36px;
  font-weight: 600;
  outline-color: transparent;
}

@media only screen and (max-width: 600px) {
  .title-input {
    text-align: center;
  }


  .center-mobile {
    display: flex;
    justify-content: center;
  }
}

.saved_At {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(48, 48, 48, 0.24);
  color: black;
  height: 40px;
  min-width: 200px;
  border-radius: 8px;
  border: 0;
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 670px) {
  .saved_At {
      display: none !important;
  }
}
