<link href="https://cdn.jsdelivr.net/npm/quill@1/dist/quill.snow.css" rel="stylesheet"/>

<app-goback *ngIf="isLock"></app-goback>

<form [formGroup]="editForm" class="form position-relative h-100 w-100">

  <div *ngIf='isLock' class="row title">
    <div class="col-auto center-mobile d-flex flex-column">
      <input class="title-input text-truncate d-inline-block" style="max-width: 100%" type="text" formControlName="title">
    </div>
  </div>

  <p-editor
    [placeholder]="'New note...'"
    class="position-relative p-editor"
    [style.width]="'100%'"
    formControlName="body"
    [style]="{ 'height': window.innerHeight -105+ 'px', width: '100%', position: 'relative', 'font-size': '16px', 'border':0, 'background-color': 'white' }">
  </p-editor>
</form>

<app-statistics [statistics]="statistics"></app-statistics>
<app-notify [toNotify]="'Saved'" *ngIf="hasSaved"></app-notify>

