<link href="https://cdn.jsdelivr.net/npm/quill@1/dist/quill.snow.css" rel="stylesheet"/>

<app-goback *ngIf="isLock"></app-goback>

<form [formGroup]="editForm" class="form position-relative h-100 w-100">

  <div *ngIf='isLock' class="row title align-items-center p-3 flex-nowrap">
    <div class="col-auto m-0 p-0 ms-3">
      <img width="30px" src="assets/network_assets/more.svg" alt="...">
    </div>
    <div class="col-auto center-mobile d-flex flex-column m-0 p-0">
      <input class="title-input" type="text" formControlName="title">
    </div>
  </div>

  <p-editor
    [placeholder]="'New note...'"
    class="position-relative p-editor"
    [style.width]="'100%'"
    formControlName="body"
    [style]="{ 'height': window.innerHeight -105+ 'px', position: 'relative', 'font-size': '16px', 'border':0, 'background-color': 'white' }">
  </p-editor>
</form>

<div class="m-3 p-2 saved_At d-flex justify-content-center align-items-center" *ngIf="hasSaved">
  Saved at {{getNow() | date: 'HH:mm:ss'}}
</div>


